@tailwind base;
@tailwind components;
@tailwind utilities;

.modal {
    width: clamp(50%, 700px, 90%);
    height: min(50%, 500px);

    margin: auto;
    padding: 0 2rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }
    .content {
        height: 30vh;
    }
    h1 {
        font-size: 24px;
    }
}

@layer base {
    body {
        @apply bg-primary;
    }
}

@layer components {
    .skillset-icon-container {
        @apply relative flex items-center justify-center
      h-32 w-32 mt-2 mb-2 ml-2 mx-auto bg-secondary
      text-white rounded-md border-blue-600 border-2 shadow-lg shadow-blue-800;
    }

    .skillset-container {
        @apply transition-all hover:scale-110 duration-150;
    }

    .skillset-table-layout {
        @apply grid gap-2 list-none grid-cols-1
      md:grid-cols-3
      xl:grid-cols-3
      ml-5 sm:ml-0;
    }

    .learning-table-layout {
        @apply grid gap-2 list-none grid-cols-2
      md:grid-cols-4
      xl:grid-cols-8
      ml-5 mr-5 sm:ml-0 sm:mr-5;
    }

    .tools-table-layout {
        @apply grid gap-2 list-none grid-cols-2
      md:grid-cols-3
      xl:grid-cols-5
      ml-10 mr-10 sm:ml-10 sm:mr-10;
    }

    .sidebar-icon {
        @apply relative flex items-center justify-center 
      h-20 w-20 mt-2 mb-2 ml-2 mx-auto bg-secondary
    text-blue-500 hover:text-white
      transition-all hover:translate-x-1 duration-150
      cursor-pointer shadow-lg shadow-black border-r-4 border-blue-600
      rounded-lg hover:border-4;
    }

    .login-button {
        @apply fixed flex items-center justify-center 
      h-16 w-16 top-7 right-7 bg-secondary
    text-blue-500 hover:text-white
      transition-all hover:translate-y-1 duration-150
      cursor-pointer shadow-lg shadow-black border-b-4  border-white
      rounded-lg hover:border-4;
    }

    .social-button {
        @apply relative flex items-center justify-center 
      h-12 w-12 mt-2 mb-2 ml-2 mx-auto bg-secondary
    text-blue-500 hover:text-white
      transition-all hover:-translate-y-1 duration-150
      cursor-pointer shadow-lg shadow-black border-t-[3px] border-white
      rounded-lg hover:border-[3px];
    }

    .sidebar-tooltip {
        @apply absolute w-auto p-2 m-2 min-w-max left-28 rounded-md shadow-md
      text-white bg-primary 
      text-xs font-bold 
      transition-all duration-100 scale-0 origin-left;
    }

    .login-tooltip {
        @apply absolute w-auto p-2 m-2 min-w-max right-20 rounded-md shadow-md
      text-white bg-primary 
      text-xs font-bold 
      transition-all duration-100 scale-0 origin-left;
    }

    .social-tooltip {
        @apply absolute w-auto p-2 m-2 min-w-max bottom-10 rounded-md shadow-md
      text-white bg-primary 
      text-xs font-bold 
      transition-all duration-100 scale-0 origin-left;
    }

    .slider-button {
        @apply items-center flex justify-center text-white opacity-20 hover:opacity-100 ml-10 mr-10 bg-footcolor rounded-full shadow-black shadow-lg;
    }

    .layout_item {
        @apply bg-secondary bg-opacity-50 rounded-xl
        sm:h-52 sm:w-52 h-28 w-28 transition-all duration-150
        border-blue-600 hover:border-4 
        shadow-black shadow-lg hover:bg-opacity-100 
        sm:p-4 sm:ml-0 ml-2 mr-5 p-5;
    }

    .layout-item-image {
        @apply relative flex w-full h-full items-center justify-center;
    }

    a {
        @apply underline;
    }
    input.form-input {
        @apply w-full mt-5 pl-2 backgroundblur h-10 text-white border-forminput border-2 rounded-lg focus:outline-none focus:border-white;
    }

    input.form-submit {
        @apply flex items-center justify-center 
      h-12 w-full mx-auto bg-secondary
      text-blue-500 hover:text-white
      transition-all hover:translate-y-1 duration-150
      cursor-pointer shadow-lg shadow-black border-t-4 border-blue-600
      rounded-lg hover:border-4 focus:outline-none focus:translate-y-1 focus:border-4 focus:text-white;
    }
    textarea {
        @apply w-full mt-5 pl-2 backgroundblur h-56 text-white border-forminput border-2 rounded-lg focus:outline-none focus:border-white;
    }
}

.backgroundblur {
    background-color: rgba(140, 141, 141, 0.1);
    backdrop-filter: blur(30px) brightness(115%);
}

input::-webkit-input-placeholderm,
input::-moz-placeholder,
textarea::-webkit-input-placeholder,
textarea::-moz-placeholder {
    opacity: 0.6;
}

.slider-wrapper {
    position: fixed;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
}
@media (min-width: 601px) {
    .slider {
        position: relative;
        top: 0;
        left: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 1rem;
        will-change: transform;
        align-items: center;
        margin-left: 15px;
        grid-column: 2;
    }
}
@media (max-width: 601px) {
    .slider {
        position: relative;
        height: auto;
        display: flex;
        align-items: center;
        width: 140px;
        overflow: hidden;
    }
}
.layout_item {
    position: relative;
    overflow: hidden;
}

.slider-item {
    width: auto;
    height: auto;
}

/* 404 CSS*/
#background {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow: hidden;
}
#stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1201px 1096px #fff, 1402px 24px #fff, 1262px 698px #fff,
        1371px 1881px #fff, 1718px 1256px #fff, 489px 599px #fff,
        421px 607px #fff, 1223px 525px #fff, 511px 1118px #fff,
        450px 1821px #fff, 1804px 597px #fff, 67px 1586px #fff,
        1440px 734px #fff, 1424px 615px #fff, 1297px 977px #fff,
        351px 505px #fff, 312px 880px #fff, 359px 430px #fff, 1963px 37px #fff,
        699px 1002px #fff, 773px 743px #fff, 798px 577px #fff,
        1412px 1559px #fff, 1131px 658px #fff, 441px 263px #fff,
        775px 1617px #fff, 1625px 512px #fff, 923px 542px #fff,
        1017px 547px #fff, 1091px 1550px #fff, 684px 1780px #fff,
        1321px 1667px #fff, 932px 273px #fff, 55px 978px #fff, 411px 591px #fff,
        1563px 1939px #fff, 962px 188px #fff, 350px 1998px #fff,
        1286px 814px #fff, 1742px 468px #fff, 1302px 1970px #fff,
        1221px 391px #fff, 631px 465px #fff, 967px 977px #fff,
        1818px 1338px #fff, 1335px 640px #fff, 1604px 1520px #fff,
        1612px 447px #fff, 1407px 642px #fff, 1943px 1164px #fff,
        1846px 1533px #fff, 367px 1201px #fff, 1673px 1200px #fff,
        801px 429px #fff, 1294px 1637px #fff, 731px 118px #fff,
        1304px 715px #fff, 191px 1002px #fff, 288px 1807px #fff,
        768px 874px #fff, 466px 1072px #fff, 1387px 151px #fff,
        1294px 149px #fff, 906px 353px #fff, 1637px 34px #fff, 819px 633px #fff,
        1047px 1047px #fff, 26px 877px #fff, 642px 372px #fff, 428px 1968px #fff,
        889px 867px #fff, 1270px 1422px #fff, 723px 528px #fff,
        1171px 1924px #fff, 1115px 1961px #fff, 677px 719px #fff,
        454px 494px #fff, 898px 1858px #fff, 1640px 369px #fff,
        1571px 1336px #fff, 490px 216px #fff, 516px 1070px #fff,
        1020px 1352px #fff, 204px 1797px #fff, 1441px 1892px #fff,
        954px 2000px #fff, 1864px 592px #fff, 1620px 906px #fff,
        242px 461px #fff, 985px 1535px #fff, 309px 1931px #fff,
        1316px 1229px #fff, 1309px 1350px #fff, 188px 827px #fff,
        1238px 1766px #fff, 1393px 1776px #fff, 1358px 1017px #fff,
        404px 372px #fff, 780px 1573px #fff, 344px 1406px #fff, 907px 648px #fff,
        1067px 1326px #fff, 1071px 1962px #fff, 1424px 356px #fff,
        1826px 1789px #fff, 835px 1809px #fff, 561px 625px #fff,
        658px 1496px #fff, 1220px 745px #fff, 974px 1149px #fff,
        1986px 2000px #fff, 849px 1836px #fff, 6px 1692px #fff,
        1531px 1309px #fff, 1068px 260px #fff, 208px 926px #fff,
        1030px 1419px #fff, 287px 784px #fff, 782px 1007px #fff, 65px 595px #fff,
        1660px 1552px #fff, 1775px 1829px #fff, 1145px 1469px #fff,
        1349px 1473px #fff, 640px 456px #fff, 136px 1528px #fff,
        1591px 1202px #fff, 960px 454px #fff, 506px 355px #fff,
        162px 1434px #fff, 993px 893px #fff, 1670px 1042px #fff,
        274px 680px #fff, 1390px 1923px #fff, 948px 957px #fff,
        1228px 297px #fff, 1912px 1196px #fff, 1729px 888px #fff,
        1358px 468px #fff, 791px 752px #fff, 103px 694px #fff, 435px 836px #fff,
        432px 1872px #fff, 1769px 231px #fff, 117px 959px #fff, 363px 163px #fff,
        547px 892px #fff, 40px 1288px #fff, 690px 375px #fff, 114px 361px #fff,
        951px 1399px #fff, 1460px 1522px #fff, 878px 1952px #fff,
        319px 303px #fff, 1360px 726px #fff, 33px 1892px #fff, 897px 218px #fff,
        237px 1545px #fff, 1312px 647px #fff, 1487px 68px #fff,
        441px 1111px #fff, 274px 363px #fff, 1480px 1757px #fff,
        1178px 1688px #fff, 1789px 1859px #fff, 55px 1422px #fff,
        641px 1447px #fff, 400px 1959px #fff, 380px 718px #fff, 151px 986px #fff,
        238px 209px #fff, 141px 1249px #fff, 1568px 294px #fff,
        1537px 213px #fff, 426px 1550px #fff, 721px 213px #fff, 310px 80px #fff,
        345px 1456px #fff, 1656px 961px #fff, 1305px 155px #fff,
        928px 420px #fff, 1599px 1589px #fff, 1493px 644px #fff,
        273px 629px #fff, 343px 1190px #fff, 1108px 28px #fff, 278px 1351px #fff,
        1894px 1956px #fff, 663px 935px #fff, 130px 628px #fff, 906px 982px #fff,
        1384px 1230px #fff, 342px 1282px #fff, 1627px 1512px #fff,
        982px 740px #fff, 999px 1592px #fff, 1316px 700px #fff,
        1604px 1351px #fff, 1434px 88px #fff, 797px 968px #fff, 306px 37px #fff,
        1560px 1060px #fff, 32px 1844px #fff, 512px 180px #fff,
        1687px 1481px #fff, 710px 853px #fff, 22px 380px #fff,
        1877px 1485px #fff, 1344px 1063px #fff, 1904px 1458px #fff,
        1825px 155px #fff, 479px 1758px #fff, 432px 1878px #fff, 554px 37px #fff,
        1041px 462px #fff, 1938px 171px #fff, 1242px 1442px #fff,
        723px 1116px #fff, 689px 572px #fff, 957px 1039px #fff, 647px 102px #fff,
        1251px 1774px #fff, 1080px 1664px #fff, 471px 57px #fff,
        429px 731px #fff, 1117px 568px #fff, 1326px 725px #fff, 936px 273px #fff,
        1485px 716px #fff, 81px 1021px #fff, 1846px 1311px #fff,
        1649px 688px #fff, 1888px 1276px #fff, 1162px 1299px #fff,
        1883px 826px #fff, 1367px 1482px #fff, 544px 1663px #fff,
        1887px 1000px #fff, 1225px 1356px #fff, 1719px 1451px #fff,
        259px 1527px #fff, 1630px 545px #fff, 547px 812px #fff,
        497px 1609px #fff, 130px 1046px #fff, 880px 1282px #fff,
        493px 646px #fff, 1435px 971px #fff, 1187px 1694px #fff,
        454px 1664px #fff, 1873px 1587px #fff, 49px 1928px #fff,
        1920px 1504px #fff, 876px 562px #fff, 1907px 1114px #fff,
        808px 573px #fff, 388px 964px #fff, 293px 1507px #fff, 966px 1349px #fff,
        1313px 1384px #fff, 1672px 1149px #fff, 1415px 1531px #fff,
        1713px 646px #fff, 613px 307px #fff, 864px 100px #fff,
        1013px 1183px #fff, 571px 837px #fff, 1244px 180px #fff,
        176px 1838px #fff, 1700px 1267px #fff, 879px 1820px #fff,
        1954px 781px #fff, 148px 377px #fff, 250px 1861px #fff,
        1916px 846px #fff, 1314px 322px #fff, 506px 882px #fff,
        132px 1691px #fff, 1226px 98px #fff, 959px 1503px #fff, 790px 485px #fff,
        1726px 1363px #fff, 1871px 600px #fff, 290px 1605px #fff,
        1070px 1014px #fff, 472px 918px #fff, 338px 561px #fff, 876px 486px #fff,
        1140px 1503px #fff, 1118px 1960px #fff, 1377px 289px #fff,
        1040px 42px #fff, 1300px 1911px #fff, 1164px 1819px #fff,
        1979px 953px #fff, 1320px 1998px #fff, 713px 344px #fff,
        1305px 1200px #fff, 146px 642px #fff, 828px 253px #fff,
        101px 1631px #fff, 360px 1574px #fff, 1363px 1106px #fff,
        869px 1495px #fff, 401px 13px #fff, 1776px 1681px #fff, 160px 659px #fff,
        1393px 1589px #fff, 804px 772px #fff, 631px 1696px #fff,
        1511px 214px #fff, 1455px 1768px #fff, 360px 53px #fff,
        770px 1855px #fff, 1902px 139px #fff, 1816px 1059px #fff,
        300px 707px #fff, 977px 1708px #fff, 272px 609px #fff,
        1631px 1342px #fff, 1889px 1569px #fff, 616px 1444px #fff,
        246px 1141px #fff, 154px 1568px #fff, 1584px 1840px #fff,
        1769px 1967px #fff, 651px 1828px #fff, 938px 1084px #fff,
        1562px 364px #fff, 707px 1119px #fff, 129px 1958px #fff,
        1289px 1081px #fff, 371px 1859px #fff, 1690px 821px #fff,
        1892px 221px #fff, 1149px 1750px #fff, 181px 1618px #fff,
        109px 1221px #fff, 1760px 820px #fff, 1471px 1734px #fff,
        109px 629px #fff, 1858px 960px #fff, 1135px 1179px #fff,
        483px 911px #fff, 458px 144px #fff, 1765px 1549px #fff,
        1033px 359px #fff, 119px 1666px #fff, 1688px 1510px #fff,
        933px 1419px #fff, 679px 1322px #fff, 123px 1009px #fff,
        576px 1483px #fff, 620px 1771px #fff, 1613px 1239px #fff,
        593px 1224px #fff, 1624px 748px #fff, 879px 320px #fff,
        1854px 1265px #fff, 1828px 1292px #fff, 316px 1056px #fff,
        1475px 268px #fff, 1217px 742px #fff, 1485px 1620px #fff,
        676px 1353px #fff, 699px 343px #fff, 896px 151px #fff, 162px 1684px #fff,
        1342px 984px #fff, 1363px 1291px #fff, 1153px 1923px #fff,
        1680px 1089px #fff, 1975px 115px #fff, 1227px 630px #fff,
        1864px 87px #fff, 32px 192px #fff, 1655px 588px #fff, 122px 393px #fff,
        900px 1839px #fff, 892px 470px #fff, 1926px 1686px #fff,
        997px 154px #fff, 1194px 1219px #fff, 712px 1146px #fff,
        1951px 211px #fff, 643px 1602px #fff, 1284px 1915px #fff,
        942px 975px #fff, 1615px 1961px #fff, 1710px 1837px #fff,
        1827px 1492px #fff, 1902px 886px #fff, 732px 327px #fff,
        988px 1984px #fff, 1254px 1576px #fff, 1645px 1457px #fff,
        1493px 136px #fff, 1030px 1179px #fff, 1873px 1343px #fff,
        410px 1123px #fff, 1817px 1002px #fff, 592px 1274px #fff,
        1675px 1738px #fff, 115px 1235px #fff, 1375px 591px #fff,
        693px 1292px #fff, 292px 1919px #fff, 937px 999px #fff,
        1270px 486px #fff, 498px 899px #fff, 1116px 1344px #fff,
        192px 1337px #fff, 1172px 802px #fff, 660px 1606px #fff,
        65px 1661px #fff, 985px 266px #fff, 1284px 1253px #fff, 603px 391px #fff,
        178px 1969px #fff, 1405px 1718px #fff, 1838px 1539px #fff,
        1962px 831px #fff, 1437px 950px #fff, 650px 1824px #fff,
        418px 885px #fff, 1717px 1018px #fff, 1143px 932px #fff,
        1235px 1251px #fff, 181px 71px #fff, 1844px 1535px #fff,
        1333px 235px #fff, 1715px 634px #fff, 1776px 637px #fff,
        849px 680px #fff, 1164px 1955px #fff, 1022px 1359px #fff,
        773px 580px #fff, 1770px 1890px #fff, 344px 905px #fff,
        1676px 1215px #fff, 1944px 1695px #fff, 445px 1249px #fff,
        1053px 296px #fff, 662px 1616px #fff, 1915px 1514px #fff,
        1748px 1258px #fff, 125px 39px #fff, 855px 373px #fff,
        1892px 1154px #fff, 1974px 574px #fff, 1607px 381px #fff,
        286px 24px #fff, 786px 1352px #fff, 961px 1389px #fff,
        1720px 1997px #fff, 147px 322px #fff, 335px 660px #fff,
        778px 1573px #fff, 1156px 1449px #fff, 1336px 325px #fff,
        1476px 1305px #fff, 112px 1294px #fff, 309px 952px #fff,
        1160px 376px #fff, 468px 152px #fff, 1634px 1084px #fff,
        831px 1384px #fff, 724px 608px #fff, 1334px 1605px #fff,
        1239px 1561px #fff, 1721px 32px #fff, 74px 1728px #fff,
        1987px 947px #fff, 97px 1364px #fff, 1018px 1830px #fff,
        1323px 1256px #fff, 463px 819px #fff, 1293px 1190px #fff,
        464px 799px #fff, 726px 180px #fff, 785px 112px #fff, 10px 514px #fff,
        1652px 876px #fff, 240px 1035px #fff, 1624px 864px #fff,
        1106px 648px #fff, 426px 1884px #fff, 1711px 169px #fff,
        117px 1124px #fff, 1739px 634px #fff, 70px 1464px #fff,
        1789px 859px #fff, 607px 482px #fff, 1794px 1954px #fff,
        979px 736px #fff, 1034px 245px #fff, 1763px 1056px #fff,
        1705px 1067px #fff, 1512px 588px #fff, 806px 429px #fff,
        861px 1414px #fff, 884px 163px #fff, 1962px 915px #fff,
        1904px 624px #fff, 382px 1752px #fff, 1576px 656px #fff, 831px 99px #fff,
        722px 2px #fff, 1750px 15px #fff, 509px 1815px #fff, 853px 1977px #fff,
        99px 15px #fff, 630px 1671px #fff, 1789px 797px #fff, 962px 1422px #fff,
        621px 1725px #fff, 949px 1369px #fff, 860px 526px #fff, 166px 234px #fff,
        542px 1952px #fff, 683px 1084px #fff, 699px 1752px #fff,
        1271px 1120px #fff, 408px 404px #fff, 359px 169px #fff, 461px 299px #fff,
        1651px 1628px #fff, 1612px 1337px #fff, 550px 1370px #fff,
        1904px 969px #fff, 1209px 18px #fff, 1133px 1293px #fff,
        119px 255px #fff, 30px 1246px #fff, 740px 593px #fff, 1286px 1074px #fff,
        1143px 981px #fff, 1753px 1507px #fff, 710px 238px #fff,
        1592px 1032px #fff, 59px 458px #fff, 1743px 1412px #fff,
        1657px 1696px #fff, 1579px 1410px #fff, 1115px 1870px #fff,
        215px 1629px #fff, 1916px 1825px #fff, 1009px 1199px #fff,
        163px 1475px #fff, 1113px 1917px #fff, 1064px 872px #fff,
        228px 1716px #fff, 47px 511px #fff, 36px 1328px #fff, 1622px 445px #fff,
        172px 1702px #fff, 1156px 781px #fff, 357px 1303px #fff,
        141px 1723px #fff, 1345px 457px #fff, 450px 1694px #fff,
        1634px 1746px #fff, 1453px 19px #fff, 570px 1312px #fff,
        1094px 1884px #fff, 1611px 55px #fff, 794px 830px #fff,
        606px 1595px #fff, 389px 1572px #fff, 1622px 1751px #fff,
        1794px 777px #fff, 184px 1276px #fff, 1536px 1196px #fff,
        1657px 1256px #fff, 1736px 17px #fff, 1638px 79px #fff,
        1133px 901px #fff, 637px 1533px #fff, 983px 1636px #fff,
        577px 1744px #fff, 1365px 1071px #fff, 1824px 893px #fff,
        1652px 660px #fff, 978px 1456px #fff, 1031px 185px #fff,
        342px 1581px #fff, 1637px 1352px #fff, 1100px 522px #fff,
        1776px 437px #fff, 340px 966px #fff, 76px 1467px #fff, 306px 803px #fff,
        842px 1541px #fff, 765px 1216px #fff, 1242px 1795px #fff,
        799px 445px #fff, 1212px 497px #fff, 358px 1294px #fff,
        1547px 134px #fff, 1393px 1360px #fff, 629px 1912px #fff,
        544px 115px #fff, 1028px 675px #fff, 1604px 1339px #fff,
        1746px 1910px #fff, 1348px 1614px #fff, 97px 1395px #fff,
        542px 1494px #fff, 1717px 26px #fff, 1245px 1146px #fff,
        882px 1129px #fff, 780px 267px #fff, 1182px 484px #fff,
        949px 1974px #fff, 1258px 474px #fff, 81px 880px #fff,
        1675px 1496px #fff, 1582px 1998px #fff, 338px 1200px #fff,
        803px 764px #fff, 1866px 187px #fff, 279px 1343px #fff,
        1174px 268px #fff, 74px 693px #fff, 1412px 556px #fff, 1835px 460px #fff,
        921px 764px #fff, 258px 1939px #fff, 1712px 846px #fff,
        331px 1228px #fff, 1264px 44px #fff, 557px 2000px #fff,
        418px 1746px #fff, 514px 1516px #fff, 1314px 703px #fff,
        1684px 1482px #fff, 1849px 1424px #fff, 1334px 233px #fff,
        327px 660px #fff, 1263px 1965px #fff, 86px 1911px #fff, 94px 1521px #fff,
        330px 1274px #fff, 1043px 1281px #fff, 1753px 271px #fff,
        184px 1094px #fff, 797px 482px #fff, 973px 312px #fff,
        1398px 1725px #fff, 1520px 1401px #fff, 1256px 824px #fff,
        1784px 400px #fff, 1898px 1475px #fff, 779px 1494px #fff,
        363px 1310px #fff, 497px 1700px #fff, 37px 1706px #fff,
        1594px 561px #fff, 267px 667px #fff, 1332px 545px #fff,
        1581px 590px #fff, 553px 739px #fff, 1610px 1124px #fff,
        820px 571px #fff, 211px 623px #fff, 712px 801px #fff, 1620px 527px #fff,
        1050px 54px #fff, 860px 1149px #fff, 732px 982px #fff, 798px 288px #fff,
        288px 848px #fff, 931px 276px #fff, 1197px 1591px #fff, 116px 983px #fff,
        1512px 1150px #fff, 307px 287px #fff, 373px 1936px #fff,
        733px 312px #fff, 1123px 1516px #fff, 969px 1305px #fff,
        799px 1147px #fff, 766px 891px #fff, 118px 1661px #fff,
        1981px 997px #fff, 575px 1984px #fff, 154px 38px #fff, 1266px 425px #fff,
        516px 1559px #fff, 1416px 754px #fff, 1549px 901px #fff,
        99px 1320px #fff, 1186px 1853px #fff, 1258px 951px #fff,
        1211px 697px #fff, 1840px 1583px #fff, 186px 872px #fff,
        836px 1829px #fff, 1597px 355px #fff, 495px 101px #fff;
    animation: animStar 50s linear infinite;
}
#stars:after {
    content: ' ';
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1201px 1096px #fff, 1402px 24px #fff, 1262px 698px #fff,
        1371px 1881px #fff, 1718px 1256px #fff, 489px 599px #fff,
        421px 607px #fff, 1223px 525px #fff, 511px 1118px #fff,
        450px 1821px #fff, 1804px 597px #fff, 67px 1586px #fff,
        1440px 734px #fff, 1424px 615px #fff, 1297px 977px #fff,
        351px 505px #fff, 312px 880px #fff, 359px 430px #fff, 1963px 37px #fff,
        699px 1002px #fff, 773px 743px #fff, 798px 577px #fff,
        1412px 1559px #fff, 1131px 658px #fff, 441px 263px #fff,
        775px 1617px #fff, 1625px 512px #fff, 923px 542px #fff,
        1017px 547px #fff, 1091px 1550px #fff, 684px 1780px #fff,
        1321px 1667px #fff, 932px 273px #fff, 55px 978px #fff, 411px 591px #fff,
        1563px 1939px #fff, 962px 188px #fff, 350px 1998px #fff,
        1286px 814px #fff, 1742px 468px #fff, 1302px 1970px #fff,
        1221px 391px #fff, 631px 465px #fff, 967px 977px #fff,
        1818px 1338px #fff, 1335px 640px #fff, 1604px 1520px #fff,
        1612px 447px #fff, 1407px 642px #fff, 1943px 1164px #fff,
        1846px 1533px #fff, 367px 1201px #fff, 1673px 1200px #fff,
        801px 429px #fff, 1294px 1637px #fff, 731px 118px #fff,
        1304px 715px #fff, 191px 1002px #fff, 288px 1807px #fff,
        768px 874px #fff, 466px 1072px #fff, 1387px 151px #fff,
        1294px 149px #fff, 906px 353px #fff, 1637px 34px #fff, 819px 633px #fff,
        1047px 1047px #fff, 26px 877px #fff, 642px 372px #fff, 428px 1968px #fff,
        889px 867px #fff, 1270px 1422px #fff, 723px 528px #fff,
        1171px 1924px #fff, 1115px 1961px #fff, 677px 719px #fff,
        454px 494px #fff, 898px 1858px #fff, 1640px 369px #fff,
        1571px 1336px #fff, 490px 216px #fff, 516px 1070px #fff,
        1020px 1352px #fff, 204px 1797px #fff, 1441px 1892px #fff,
        954px 2000px #fff, 1864px 592px #fff, 1620px 906px #fff,
        242px 461px #fff, 985px 1535px #fff, 309px 1931px #fff,
        1316px 1229px #fff, 1309px 1350px #fff, 188px 827px #fff,
        1238px 1766px #fff, 1393px 1776px #fff, 1358px 1017px #fff,
        404px 372px #fff, 780px 1573px #fff, 344px 1406px #fff, 907px 648px #fff,
        1067px 1326px #fff, 1071px 1962px #fff, 1424px 356px #fff,
        1826px 1789px #fff, 835px 1809px #fff, 561px 625px #fff,
        658px 1496px #fff, 1220px 745px #fff, 974px 1149px #fff,
        1986px 2000px #fff, 849px 1836px #fff, 6px 1692px #fff,
        1531px 1309px #fff, 1068px 260px #fff, 208px 926px #fff,
        1030px 1419px #fff, 287px 784px #fff, 782px 1007px #fff, 65px 595px #fff,
        1660px 1552px #fff, 1775px 1829px #fff, 1145px 1469px #fff,
        1349px 1473px #fff, 640px 456px #fff, 136px 1528px #fff,
        1591px 1202px #fff, 960px 454px #fff, 506px 355px #fff,
        162px 1434px #fff, 993px 893px #fff, 1670px 1042px #fff,
        274px 680px #fff, 1390px 1923px #fff, 948px 957px #fff,
        1228px 297px #fff, 1912px 1196px #fff, 1729px 888px #fff,
        1358px 468px #fff, 791px 752px #fff, 103px 694px #fff, 435px 836px #fff,
        432px 1872px #fff, 1769px 231px #fff, 117px 959px #fff, 363px 163px #fff,
        547px 892px #fff, 40px 1288px #fff, 690px 375px #fff, 114px 361px #fff,
        951px 1399px #fff, 1460px 1522px #fff, 878px 1952px #fff,
        319px 303px #fff, 1360px 726px #fff, 33px 1892px #fff, 897px 218px #fff,
        237px 1545px #fff, 1312px 647px #fff, 1487px 68px #fff,
        441px 1111px #fff, 274px 363px #fff, 1480px 1757px #fff,
        1178px 1688px #fff, 1789px 1859px #fff, 55px 1422px #fff,
        641px 1447px #fff, 400px 1959px #fff, 380px 718px #fff, 151px 986px #fff,
        238px 209px #fff, 141px 1249px #fff, 1568px 294px #fff,
        1537px 213px #fff, 426px 1550px #fff, 721px 213px #fff, 310px 80px #fff,
        345px 1456px #fff, 1656px 961px #fff, 1305px 155px #fff,
        928px 420px #fff, 1599px 1589px #fff, 1493px 644px #fff,
        273px 629px #fff, 343px 1190px #fff, 1108px 28px #fff, 278px 1351px #fff,
        1894px 1956px #fff, 663px 935px #fff, 130px 628px #fff, 906px 982px #fff,
        1384px 1230px #fff, 342px 1282px #fff, 1627px 1512px #fff,
        982px 740px #fff, 999px 1592px #fff, 1316px 700px #fff,
        1604px 1351px #fff, 1434px 88px #fff, 797px 968px #fff, 306px 37px #fff,
        1560px 1060px #fff, 32px 1844px #fff, 512px 180px #fff,
        1687px 1481px #fff, 710px 853px #fff, 22px 380px #fff,
        1877px 1485px #fff, 1344px 1063px #fff, 1904px 1458px #fff,
        1825px 155px #fff, 479px 1758px #fff, 432px 1878px #fff, 554px 37px #fff,
        1041px 462px #fff, 1938px 171px #fff, 1242px 1442px #fff,
        723px 1116px #fff, 689px 572px #fff, 957px 1039px #fff, 647px 102px #fff,
        1251px 1774px #fff, 1080px 1664px #fff, 471px 57px #fff,
        429px 731px #fff, 1117px 568px #fff, 1326px 725px #fff, 936px 273px #fff,
        1485px 716px #fff, 81px 1021px #fff, 1846px 1311px #fff,
        1649px 688px #fff, 1888px 1276px #fff, 1162px 1299px #fff,
        1883px 826px #fff, 1367px 1482px #fff, 544px 1663px #fff,
        1887px 1000px #fff, 1225px 1356px #fff, 1719px 1451px #fff,
        259px 1527px #fff, 1630px 545px #fff, 547px 812px #fff,
        497px 1609px #fff, 130px 1046px #fff, 880px 1282px #fff,
        493px 646px #fff, 1435px 971px #fff, 1187px 1694px #fff,
        454px 1664px #fff, 1873px 1587px #fff, 49px 1928px #fff,
        1920px 1504px #fff, 876px 562px #fff, 1907px 1114px #fff,
        808px 573px #fff, 388px 964px #fff, 293px 1507px #fff, 966px 1349px #fff,
        1313px 1384px #fff, 1672px 1149px #fff, 1415px 1531px #fff,
        1713px 646px #fff, 613px 307px #fff, 864px 100px #fff,
        1013px 1183px #fff, 571px 837px #fff, 1244px 180px #fff,
        176px 1838px #fff, 1700px 1267px #fff, 879px 1820px #fff,
        1954px 781px #fff, 148px 377px #fff, 250px 1861px #fff,
        1916px 846px #fff, 1314px 322px #fff, 506px 882px #fff,
        132px 1691px #fff, 1226px 98px #fff, 959px 1503px #fff, 790px 485px #fff,
        1726px 1363px #fff, 1871px 600px #fff, 290px 1605px #fff,
        1070px 1014px #fff, 472px 918px #fff, 338px 561px #fff, 876px 486px #fff,
        1140px 1503px #fff, 1118px 1960px #fff, 1377px 289px #fff,
        1040px 42px #fff, 1300px 1911px #fff, 1164px 1819px #fff,
        1979px 953px #fff, 1320px 1998px #fff, 713px 344px #fff,
        1305px 1200px #fff, 146px 642px #fff, 828px 253px #fff,
        101px 1631px #fff, 360px 1574px #fff, 1363px 1106px #fff,
        869px 1495px #fff, 401px 13px #fff, 1776px 1681px #fff, 160px 659px #fff,
        1393px 1589px #fff, 804px 772px #fff, 631px 1696px #fff,
        1511px 214px #fff, 1455px 1768px #fff, 360px 53px #fff,
        770px 1855px #fff, 1902px 139px #fff, 1816px 1059px #fff,
        300px 707px #fff, 977px 1708px #fff, 272px 609px #fff,
        1631px 1342px #fff, 1889px 1569px #fff, 616px 1444px #fff,
        246px 1141px #fff, 154px 1568px #fff, 1584px 1840px #fff,
        1769px 1967px #fff, 651px 1828px #fff, 938px 1084px #fff,
        1562px 364px #fff, 707px 1119px #fff, 129px 1958px #fff,
        1289px 1081px #fff, 371px 1859px #fff, 1690px 821px #fff,
        1892px 221px #fff, 1149px 1750px #fff, 181px 1618px #fff,
        109px 1221px #fff, 1760px 820px #fff, 1471px 1734px #fff,
        109px 629px #fff, 1858px 960px #fff, 1135px 1179px #fff,
        483px 911px #fff, 458px 144px #fff, 1765px 1549px #fff,
        1033px 359px #fff, 119px 1666px #fff, 1688px 1510px #fff,
        933px 1419px #fff, 679px 1322px #fff, 123px 1009px #fff,
        576px 1483px #fff, 620px 1771px #fff, 1613px 1239px #fff,
        593px 1224px #fff, 1624px 748px #fff, 879px 320px #fff,
        1854px 1265px #fff, 1828px 1292px #fff, 316px 1056px #fff,
        1475px 268px #fff, 1217px 742px #fff, 1485px 1620px #fff,
        676px 1353px #fff, 699px 343px #fff, 896px 151px #fff, 162px 1684px #fff,
        1342px 984px #fff, 1363px 1291px #fff, 1153px 1923px #fff,
        1680px 1089px #fff, 1975px 115px #fff, 1227px 630px #fff,
        1864px 87px #fff, 32px 192px #fff, 1655px 588px #fff, 122px 393px #fff,
        900px 1839px #fff, 892px 470px #fff, 1926px 1686px #fff,
        997px 154px #fff, 1194px 1219px #fff, 712px 1146px #fff,
        1951px 211px #fff, 643px 1602px #fff, 1284px 1915px #fff,
        942px 975px #fff, 1615px 1961px #fff, 1710px 1837px #fff,
        1827px 1492px #fff, 1902px 886px #fff, 732px 327px #fff,
        988px 1984px #fff, 1254px 1576px #fff, 1645px 1457px #fff,
        1493px 136px #fff, 1030px 1179px #fff, 1873px 1343px #fff,
        410px 1123px #fff, 1817px 1002px #fff, 592px 1274px #fff,
        1675px 1738px #fff, 115px 1235px #fff, 1375px 591px #fff,
        693px 1292px #fff, 292px 1919px #fff, 937px 999px #fff,
        1270px 486px #fff, 498px 899px #fff, 1116px 1344px #fff,
        192px 1337px #fff, 1172px 802px #fff, 660px 1606px #fff,
        65px 1661px #fff, 985px 266px #fff, 1284px 1253px #fff, 603px 391px #fff,
        178px 1969px #fff, 1405px 1718px #fff, 1838px 1539px #fff,
        1962px 831px #fff, 1437px 950px #fff, 650px 1824px #fff,
        418px 885px #fff, 1717px 1018px #fff, 1143px 932px #fff,
        1235px 1251px #fff, 181px 71px #fff, 1844px 1535px #fff,
        1333px 235px #fff, 1715px 634px #fff, 1776px 637px #fff,
        849px 680px #fff, 1164px 1955px #fff, 1022px 1359px #fff,
        773px 580px #fff, 1770px 1890px #fff, 344px 905px #fff,
        1676px 1215px #fff, 1944px 1695px #fff, 445px 1249px #fff,
        1053px 296px #fff, 662px 1616px #fff, 1915px 1514px #fff,
        1748px 1258px #fff, 125px 39px #fff, 855px 373px #fff,
        1892px 1154px #fff, 1974px 574px #fff, 1607px 381px #fff,
        286px 24px #fff, 786px 1352px #fff, 961px 1389px #fff,
        1720px 1997px #fff, 147px 322px #fff, 335px 660px #fff,
        778px 1573px #fff, 1156px 1449px #fff, 1336px 325px #fff,
        1476px 1305px #fff, 112px 1294px #fff, 309px 952px #fff,
        1160px 376px #fff, 468px 152px #fff, 1634px 1084px #fff,
        831px 1384px #fff, 724px 608px #fff, 1334px 1605px #fff,
        1239px 1561px #fff, 1721px 32px #fff, 74px 1728px #fff,
        1987px 947px #fff, 97px 1364px #fff, 1018px 1830px #fff,
        1323px 1256px #fff, 463px 819px #fff, 1293px 1190px #fff,
        464px 799px #fff, 726px 180px #fff, 785px 112px #fff, 10px 514px #fff,
        1652px 876px #fff, 240px 1035px #fff, 1624px 864px #fff,
        1106px 648px #fff, 426px 1884px #fff, 1711px 169px #fff,
        117px 1124px #fff, 1739px 634px #fff, 70px 1464px #fff,
        1789px 859px #fff, 607px 482px #fff, 1794px 1954px #fff,
        979px 736px #fff, 1034px 245px #fff, 1763px 1056px #fff,
        1705px 1067px #fff, 1512px 588px #fff, 806px 429px #fff,
        861px 1414px #fff, 884px 163px #fff, 1962px 915px #fff,
        1904px 624px #fff, 382px 1752px #fff, 1576px 656px #fff, 831px 99px #fff,
        722px 2px #fff, 1750px 15px #fff, 509px 1815px #fff, 853px 1977px #fff,
        99px 15px #fff, 630px 1671px #fff, 1789px 797px #fff, 962px 1422px #fff,
        621px 1725px #fff, 949px 1369px #fff, 860px 526px #fff, 166px 234px #fff,
        542px 1952px #fff, 683px 1084px #fff, 699px 1752px #fff,
        1271px 1120px #fff, 408px 404px #fff, 359px 169px #fff, 461px 299px #fff,
        1651px 1628px #fff, 1612px 1337px #fff, 550px 1370px #fff,
        1904px 969px #fff, 1209px 18px #fff, 1133px 1293px #fff,
        119px 255px #fff, 30px 1246px #fff, 740px 593px #fff, 1286px 1074px #fff,
        1143px 981px #fff, 1753px 1507px #fff, 710px 238px #fff,
        1592px 1032px #fff, 59px 458px #fff, 1743px 1412px #fff,
        1657px 1696px #fff, 1579px 1410px #fff, 1115px 1870px #fff,
        215px 1629px #fff, 1916px 1825px #fff, 1009px 1199px #fff,
        163px 1475px #fff, 1113px 1917px #fff, 1064px 872px #fff,
        228px 1716px #fff, 47px 511px #fff, 36px 1328px #fff, 1622px 445px #fff,
        172px 1702px #fff, 1156px 781px #fff, 357px 1303px #fff,
        141px 1723px #fff, 1345px 457px #fff, 450px 1694px #fff,
        1634px 1746px #fff, 1453px 19px #fff, 570px 1312px #fff,
        1094px 1884px #fff, 1611px 55px #fff, 794px 830px #fff,
        606px 1595px #fff, 389px 1572px #fff, 1622px 1751px #fff,
        1794px 777px #fff, 184px 1276px #fff, 1536px 1196px #fff,
        1657px 1256px #fff, 1736px 17px #fff, 1638px 79px #fff,
        1133px 901px #fff, 637px 1533px #fff, 983px 1636px #fff,
        577px 1744px #fff, 1365px 1071px #fff, 1824px 893px #fff,
        1652px 660px #fff, 978px 1456px #fff, 1031px 185px #fff,
        342px 1581px #fff, 1637px 1352px #fff, 1100px 522px #fff,
        1776px 437px #fff, 340px 966px #fff, 76px 1467px #fff, 306px 803px #fff,
        842px 1541px #fff, 765px 1216px #fff, 1242px 1795px #fff,
        799px 445px #fff, 1212px 497px #fff, 358px 1294px #fff,
        1547px 134px #fff, 1393px 1360px #fff, 629px 1912px #fff,
        544px 115px #fff, 1028px 675px #fff, 1604px 1339px #fff,
        1746px 1910px #fff, 1348px 1614px #fff, 97px 1395px #fff,
        542px 1494px #fff, 1717px 26px #fff, 1245px 1146px #fff,
        882px 1129px #fff, 780px 267px #fff, 1182px 484px #fff,
        949px 1974px #fff, 1258px 474px #fff, 81px 880px #fff,
        1675px 1496px #fff, 1582px 1998px #fff, 338px 1200px #fff,
        803px 764px #fff, 1866px 187px #fff, 279px 1343px #fff,
        1174px 268px #fff, 74px 693px #fff, 1412px 556px #fff, 1835px 460px #fff,
        921px 764px #fff, 258px 1939px #fff, 1712px 846px #fff,
        331px 1228px #fff, 1264px 44px #fff, 557px 2000px #fff,
        418px 1746px #fff, 514px 1516px #fff, 1314px 703px #fff,
        1684px 1482px #fff, 1849px 1424px #fff, 1334px 233px #fff,
        327px 660px #fff, 1263px 1965px #fff, 86px 1911px #fff, 94px 1521px #fff,
        330px 1274px #fff, 1043px 1281px #fff, 1753px 271px #fff,
        184px 1094px #fff, 797px 482px #fff, 973px 312px #fff,
        1398px 1725px #fff, 1520px 1401px #fff, 1256px 824px #fff,
        1784px 400px #fff, 1898px 1475px #fff, 779px 1494px #fff,
        363px 1310px #fff, 497px 1700px #fff, 37px 1706px #fff,
        1594px 561px #fff, 267px 667px #fff, 1332px 545px #fff,
        1581px 590px #fff, 553px 739px #fff, 1610px 1124px #fff,
        820px 571px #fff, 211px 623px #fff, 712px 801px #fff, 1620px 527px #fff,
        1050px 54px #fff, 860px 1149px #fff, 732px 982px #fff, 798px 288px #fff,
        288px 848px #fff, 931px 276px #fff, 1197px 1591px #fff, 116px 983px #fff,
        1512px 1150px #fff, 307px 287px #fff, 373px 1936px #fff,
        733px 312px #fff, 1123px 1516px #fff, 969px 1305px #fff,
        799px 1147px #fff, 766px 891px #fff, 118px 1661px #fff,
        1981px 997px #fff, 575px 1984px #fff, 154px 38px #fff, 1266px 425px #fff,
        516px 1559px #fff, 1416px 754px #fff, 1549px 901px #fff,
        99px 1320px #fff, 1186px 1853px #fff, 1258px 951px #fff,
        1211px 697px #fff, 1840px 1583px #fff, 186px 872px #fff,
        836px 1829px #fff, 1597px 355px #fff, 495px 101px #fff;
}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1857px 1849px #fff, 653px 1685px #fff, 615px 1679px #fff,
        1799px 1957px #fff, 1945px 1528px #fff, 672px 1172px #fff,
        1920px 944px #fff, 783px 1660px #fff, 1626px 949px #fff,
        1085px 1135px #fff, 810px 1826px #fff, 925px 526px #fff,
        129px 1710px #fff, 1929px 643px #fff, 102px 1632px #fff,
        268px 564px #fff, 1107px 1898px #fff, 1581px 1558px #fff,
        1530px 1031px #fff, 1553px 1580px #fff, 1161px 412px #fff,
        772px 710px #fff, 232px 1644px #fff, 1352px 383px #fff,
        1067px 1843px #fff, 1394px 1134px #fff, 258px 1337px #fff,
        562px 1290px #fff, 299px 1310px #fff, 218px 1945px #fff,
        1646px 83px #fff, 60px 782px #fff, 802px 1478px #fff, 50px 231px #fff,
        412px 996px #fff, 662px 1990px #fff, 1931px 1506px #fff,
        374px 1551px #fff, 1589px 1781px #fff, 1698px 1671px #fff,
        1132px 1596px #fff, 1339px 1970px #fff, 1177px 450px #fff,
        877px 175px #fff, 1920px 372px #fff, 990px 880px #fff, 1350px 728px #fff,
        100px 876px #fff, 1328px 1715px #fff, 926px 113px #fff,
        746px 1233px #fff, 99px 1956px #fff, 1439px 1866px #fff,
        282px 1857px #fff, 1808px 1625px #fff, 368px 24px #fff,
        1646px 1070px #fff, 1360px 1364px #fff, 915px 935px #fff,
        1771px 1434px #fff, 1839px 676px #fff, 648px 1236px #fff,
        1368px 861px #fff, 499px 1049px #fff, 1431px 712px #fff,
        1688px 578px #fff, 1583px 295px #fff, 634px 1317px #fff, 21px 432px #fff,
        1070px 1573px #fff, 889px 1022px #fff, 829px 721px #fff,
        1854px 1786px #fff, 1333px 687px #fff, 1396px 554px #fff,
        1781px 917px #fff, 43px 1251px #fff, 766px 995px #fff, 696px 1770px #fff,
        268px 66px #fff, 964px 1102px #fff, 142px 734px #fff, 1424px 515px #fff,
        1435px 1091px #fff, 113px 380px #fff, 1561px 1900px #fff,
        759px 216px #fff, 844px 471px #fff, 1861px 1177px #fff,
        1461px 417px #fff, 1416px 949px #fff, 225px 1337px #fff,
        1345px 15px #fff, 469px 656px #fff, 884px 1749px #fff, 190px 682px #fff,
        1243px 1202px #fff, 1955px 707px #fff, 1637px 601px #fff,
        1455px 1527px #fff, 999px 1189px #fff, 112px 1561px #fff,
        1926px 945px #fff, 509px 1185px #fff, 850px 715px #fff,
        237px 1931px #fff, 382px 712px #fff, 404px 1699px #fff,
        1625px 1371px #fff, 1885px 1100px #fff, 551px 274px #fff,
        1537px 535px #fff, 960px 1940px #fff, 499px 1414px #fff,
        1150px 706px #fff, 1654px 461px #fff, 492px 1524px #fff,
        907px 399px #fff, 537px 1161px #fff, 1451px 1496px #fff,
        1350px 1076px #fff, 137px 1954px #fff, 1420px 758px #fff,
        1581px 1466px #fff, 1079px 1972px #fff, 1466px 613px #fff,
        157px 1957px #fff, 455px 1013px #fff, 1040px 1405px #fff,
        1623px 821px #fff, 98px 1257px #fff, 1972px 578px #fff,
        1757px 293px #fff, 23px 1232px #fff, 586px 857px #fff, 1193px 787px #fff,
        1630px 283px #fff, 966px 985px #fff, 1795px 789px #fff,
        1207px 1847px #fff, 1416px 838px #fff, 321px 1990px #fff,
        1803px 1916px #fff, 664px 324px #fff, 446px 1225px #fff,
        1061px 898px #fff, 791px 1521px #fff, 1614px 1295px #fff,
        766px 1034px #fff, 1562px 1169px #fff, 1733px 293px #fff,
        704px 1913px #fff, 542px 861px #fff, 714px 626px #fff,
        1507px 1277px #fff, 753px 883px #fff, 1253px 1421px #fff,
        703px 1635px #fff, 423px 497px #fff, 119px 1430px #fff, 1111px 22px #fff,
        977px 264px #fff, 1426px 1040px #fff, 1207px 1912px #fff,
        1771px 1651px #fff, 118px 1004px #fff, 525px 638px #fff,
        1447px 542px #fff, 1698px 953px #fff, 1500px 1996px #fff,
        1824px 882px #fff, 808px 1588px #fff, 1580px 1714px #fff,
        1121px 1193px #fff, 737px 1594px #fff, 143px 554px #fff,
        1208px 237px #fff, 367px 1794px #fff, 1589px 1848px #fff,
        694px 778px #fff, 1800px 1356px #fff, 745px 696px #fff,
        625px 1464px #fff, 725px 1241px #fff, 1642px 621px #fff,
        1043px 606px #fff, 632px 245px #fff, 191px 127px #fff, 688px 1493px #fff,
        1353px 733px #fff, 1508px 1355px #fff, 475px 1790px #fff,
        1147px 453px #fff, 926px 1743px #fff, 836px 272px #fff,
        1305px 474px #fff, 1019px 1778px #fff, 1435px 450px #fff,
        849px 1023px #fff, 935px 1432px #fff;
    animation: animStar 100s linear infinite;
}
#stars2:after {
    content: ' ';
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1857px 1849px #fff, 653px 1685px #fff, 615px 1679px #fff,
        1799px 1957px #fff, 1945px 1528px #fff, 672px 1172px #fff,
        1920px 944px #fff, 783px 1660px #fff, 1626px 949px #fff,
        1085px 1135px #fff, 810px 1826px #fff, 925px 526px #fff,
        129px 1710px #fff, 1929px 643px #fff, 102px 1632px #fff,
        268px 564px #fff, 1107px 1898px #fff, 1581px 1558px #fff,
        1530px 1031px #fff, 1553px 1580px #fff, 1161px 412px #fff,
        772px 710px #fff, 232px 1644px #fff, 1352px 383px #fff,
        1067px 1843px #fff, 1394px 1134px #fff, 258px 1337px #fff,
        562px 1290px #fff, 299px 1310px #fff, 218px 1945px #fff,
        1646px 83px #fff, 60px 782px #fff, 802px 1478px #fff, 50px 231px #fff,
        412px 996px #fff, 662px 1990px #fff, 1931px 1506px #fff,
        374px 1551px #fff, 1589px 1781px #fff, 1698px 1671px #fff,
        1132px 1596px #fff, 1339px 1970px #fff, 1177px 450px #fff,
        877px 175px #fff, 1920px 372px #fff, 990px 880px #fff, 1350px 728px #fff,
        100px 876px #fff, 1328px 1715px #fff, 926px 113px #fff,
        746px 1233px #fff, 99px 1956px #fff, 1439px 1866px #fff,
        282px 1857px #fff, 1808px 1625px #fff, 368px 24px #fff,
        1646px 1070px #fff, 1360px 1364px #fff, 915px 935px #fff,
        1771px 1434px #fff, 1839px 676px #fff, 648px 1236px #fff,
        1368px 861px #fff, 499px 1049px #fff, 1431px 712px #fff,
        1688px 578px #fff, 1583px 295px #fff, 634px 1317px #fff, 21px 432px #fff,
        1070px 1573px #fff, 889px 1022px #fff, 829px 721px #fff,
        1854px 1786px #fff, 1333px 687px #fff, 1396px 554px #fff,
        1781px 917px #fff, 43px 1251px #fff, 766px 995px #fff, 696px 1770px #fff,
        268px 66px #fff, 964px 1102px #fff, 142px 734px #fff, 1424px 515px #fff,
        1435px 1091px #fff, 113px 380px #fff, 1561px 1900px #fff,
        759px 216px #fff, 844px 471px #fff, 1861px 1177px #fff,
        1461px 417px #fff, 1416px 949px #fff, 225px 1337px #fff,
        1345px 15px #fff, 469px 656px #fff, 884px 1749px #fff, 190px 682px #fff,
        1243px 1202px #fff, 1955px 707px #fff, 1637px 601px #fff,
        1455px 1527px #fff, 999px 1189px #fff, 112px 1561px #fff,
        1926px 945px #fff, 509px 1185px #fff, 850px 715px #fff,
        237px 1931px #fff, 382px 712px #fff, 404px 1699px #fff,
        1625px 1371px #fff, 1885px 1100px #fff, 551px 274px #fff,
        1537px 535px #fff, 960px 1940px #fff, 499px 1414px #fff,
        1150px 706px #fff, 1654px 461px #fff, 492px 1524px #fff,
        907px 399px #fff, 537px 1161px #fff, 1451px 1496px #fff,
        1350px 1076px #fff, 137px 1954px #fff, 1420px 758px #fff,
        1581px 1466px #fff, 1079px 1972px #fff, 1466px 613px #fff,
        157px 1957px #fff, 455px 1013px #fff, 1040px 1405px #fff,
        1623px 821px #fff, 98px 1257px #fff, 1972px 578px #fff,
        1757px 293px #fff, 23px 1232px #fff, 586px 857px #fff, 1193px 787px #fff,
        1630px 283px #fff, 966px 985px #fff, 1795px 789px #fff,
        1207px 1847px #fff, 1416px 838px #fff, 321px 1990px #fff,
        1803px 1916px #fff, 664px 324px #fff, 446px 1225px #fff,
        1061px 898px #fff, 791px 1521px #fff, 1614px 1295px #fff,
        766px 1034px #fff, 1562px 1169px #fff, 1733px 293px #fff,
        704px 1913px #fff, 542px 861px #fff, 714px 626px #fff,
        1507px 1277px #fff, 753px 883px #fff, 1253px 1421px #fff,
        703px 1635px #fff, 423px 497px #fff, 119px 1430px #fff, 1111px 22px #fff,
        977px 264px #fff, 1426px 1040px #fff, 1207px 1912px #fff,
        1771px 1651px #fff, 118px 1004px #fff, 525px 638px #fff,
        1447px 542px #fff, 1698px 953px #fff, 1500px 1996px #fff,
        1824px 882px #fff, 808px 1588px #fff, 1580px 1714px #fff,
        1121px 1193px #fff, 737px 1594px #fff, 143px 554px #fff,
        1208px 237px #fff, 367px 1794px #fff, 1589px 1848px #fff,
        694px 778px #fff, 1800px 1356px #fff, 745px 696px #fff,
        625px 1464px #fff, 725px 1241px #fff, 1642px 621px #fff,
        1043px 606px #fff, 632px 245px #fff, 191px 127px #fff, 688px 1493px #fff,
        1353px 733px #fff, 1508px 1355px #fff, 475px 1790px #fff,
        1147px 453px #fff, 926px 1743px #fff, 836px 272px #fff,
        1305px 474px #fff, 1019px 1778px #fff, 1435px 450px #fff,
        849px 1023px #fff, 935px 1432px #fff;
}

#stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1141px 1150px #fff, 803px 77px #fff, 20px 1628px #fff,
        119px 1170px #fff, 936px 1327px #fff, 602px 247px #fff, 479px 570px #fff,
        1008px 492px #fff, 669px 1051px #fff, 475px 1546px #fff,
        376px 826px #fff, 81px 1148px #fff, 79px 851px #fff, 1797px 1626px #fff,
        1618px 97px #fff, 1926px 1934px #fff, 545px 1826px #fff,
        1888px 1108px #fff, 1111px 769px #fff, 1657px 72px #fff,
        109px 1292px #fff, 1764px 591px #fff, 1463px 871px #fff,
        296px 1781px #fff, 167px 990px #fff, 799px 1374px #fff,
        1613px 524px #fff, 416px 100px #fff, 800px 533px #fff, 1561px 199px #fff,
        1919px 260px #fff, 763px 919px #fff, 1740px 5px #fff, 799px 798px #fff,
        1227px 1665px #fff, 1852px 98px #fff, 516px 1811px #fff,
        806px 1636px #fff, 1266px 681px #fff, 495px 1047px #fff,
        1524px 628px #fff, 1334px 1666px #fff, 325px 1180px #fff,
        1277px 1397px #fff, 1217px 1471px #fff, 1991px 1191px #fff,
        1773px 1390px #fff, 861px 1146px #fff, 264px 1694px #fff,
        128px 72px #fff, 433px 976px #fff, 497px 1931px #fff, 1251px 1076px #fff,
        1039px 860px #fff, 1113px 1913px #fff, 339px 1459px #fff,
        997px 1543px #fff, 1984px 1292px #fff, 524px 1688px #fff,
        865px 1699px #fff, 1883px 1581px #fff, 1488px 518px #fff,
        376px 1179px #fff, 1754px 1428px #fff, 1301px 417px #fff,
        1286px 1650px #fff, 1664px 1375px #fff, 1095px 668px #fff,
        1285px 1132px #fff, 794px 305px #fff, 470px 544px #fff, 477px 524px #fff,
        58px 94px #fff, 1237px 241px #fff, 879px 1831px #fff, 1118px 1749px #fff,
        344px 297px #fff, 1461px 839px #fff, 1868px 1224px #fff,
        655px 331px #fff, 1954px 928px #fff, 1808px 1597px #fff,
        89px 1825px #fff, 886px 1675px #fff, 969px 763px #fff, 1452px 377px #fff,
        706px 1611px #fff, 1803px 846px #fff, 493px 1911px #fff,
        553px 233px #fff, 1607px 1048px #fff, 203px 1760px #fff,
        1635px 1669px #fff, 860px 1342px #fff, 391px 521px #fff,
        1423px 161px #fff, 636px 1452px #fff, 1366px 1356px #fff,
        216px 770px #fff, 1036px 1905px #fff;
    animation: animStar 150s linear infinite;
}
#stars3:after {
    content: ' ';
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1141px 1150px #fff, 803px 77px #fff, 20px 1628px #fff,
        119px 1170px #fff, 936px 1327px #fff, 602px 247px #fff, 479px 570px #fff,
        1008px 492px #fff, 669px 1051px #fff, 475px 1546px #fff,
        376px 826px #fff, 81px 1148px #fff, 79px 851px #fff, 1797px 1626px #fff,
        1618px 97px #fff, 1926px 1934px #fff, 545px 1826px #fff,
        1888px 1108px #fff, 1111px 769px #fff, 1657px 72px #fff,
        109px 1292px #fff, 1764px 591px #fff, 1463px 871px #fff,
        296px 1781px #fff, 167px 990px #fff, 799px 1374px #fff,
        1613px 524px #fff, 416px 100px #fff, 800px 533px #fff, 1561px 199px #fff,
        1919px 260px #fff, 763px 919px #fff, 1740px 5px #fff, 799px 798px #fff,
        1227px 1665px #fff, 1852px 98px #fff, 516px 1811px #fff,
        806px 1636px #fff, 1266px 681px #fff, 495px 1047px #fff,
        1524px 628px #fff, 1334px 1666px #fff, 325px 1180px #fff,
        1277px 1397px #fff, 1217px 1471px #fff, 1991px 1191px #fff,
        1773px 1390px #fff, 861px 1146px #fff, 264px 1694px #fff,
        128px 72px #fff, 433px 976px #fff, 497px 1931px #fff, 1251px 1076px #fff,
        1039px 860px #fff, 1113px 1913px #fff, 339px 1459px #fff,
        997px 1543px #fff, 1984px 1292px #fff, 524px 1688px #fff,
        865px 1699px #fff, 1883px 1581px #fff, 1488px 518px #fff,
        376px 1179px #fff, 1754px 1428px #fff, 1301px 417px #fff,
        1286px 1650px #fff, 1664px 1375px #fff, 1095px 668px #fff,
        1285px 1132px #fff, 794px 305px #fff, 470px 544px #fff, 477px 524px #fff,
        58px 94px #fff, 1237px 241px #fff, 879px 1831px #fff, 1118px 1749px #fff,
        344px 297px #fff, 1461px 839px #fff, 1868px 1224px #fff,
        655px 331px #fff, 1954px 928px #fff, 1808px 1597px #fff,
        89px 1825px #fff, 886px 1675px #fff, 969px 763px #fff, 1452px 377px #fff,
        706px 1611px #fff, 1803px 846px #fff, 493px 1911px #fff,
        553px 233px #fff, 1607px 1048px #fff, 203px 1760px #fff,
        1635px 1669px #fff, 860px 1342px #fff, 391px 521px #fff,
        1423px 161px #fff, 636px 1452px #fff, 1366px 1356px #fff,
        216px 770px #fff, 1036px 1905px #fff;
}

/* #title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    font-family: 'lato', sans-serif;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
    margin-top: -60px;
    padding-left: 10px;
}
#title span {
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}

#stop1 {
    stop-color: #1b2735;
    stop-opacity: 1;
}

#stop2 {
    stop-color: #090a0f;
    stop-opacity: 1;
}

#svg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
#svg #line1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 38px;
}

#svg #line2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
}

#svg > rect {
    -webkit-mask: url(#mask);
    mask: url(#mask);
}
