@tailwind base;
@tailwind components;
@tailwind utilities;

.modal {
    width: clamp(50%, 700px, 90%);
    height: min(50%, 500px);

    margin: auto;
    padding: 0 2rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }
    .content {
        height: 30vh;
    }
    h1 {
        font-size: 24px;
    }
}

@layer base {
    body {
        @apply bg-primary;
    }
}

@layer components {
    .skillset-icon-container {
        @apply relative flex items-center justify-center
      h-32 w-32 mt-2 mb-2 ml-2 mx-auto bg-secondary
      text-white rounded-md border-blue-600 border-2 shadow-lg shadow-blue-800;
    }

    .skillset-container {
        @apply transition-all hover:scale-110 duration-150;
    }

    .skillset-table-layout {
        @apply grid gap-2 list-none grid-cols-1
      md:grid-cols-3
      xl:grid-cols-3
      ml-5 sm:ml-0;
    }

    .learning-table-layout {
        @apply grid gap-2 list-none grid-cols-2
      md:grid-cols-4
      xl:grid-cols-8
      ml-5 mr-5 sm:ml-0 sm:mr-5;
    }

    .tools-table-layout {
        @apply grid gap-2 list-none grid-cols-2
      md:grid-cols-3
      xl:grid-cols-5
      ml-10 mr-10 sm:ml-10 sm:mr-10;
    }

    .sidebar-icon {
        @apply relative flex items-center justify-center 
      h-20 w-20 mt-2 mb-2 ml-2 mx-auto bg-secondary
    text-blue-500 hover:text-white
      transition-all hover:translate-x-1 duration-150
      cursor-pointer shadow-lg shadow-black border-r-4 border-blue-600
      rounded-lg hover:border-4;
    }

    .social-button {
        @apply relative flex items-center justify-center 
      h-12 w-12 mt-2 mb-2 ml-2 mx-auto bg-secondary
    text-blue-500 hover:text-white
      transition-all hover:-translate-y-1 duration-150
      cursor-pointer shadow-lg shadow-black border-t-[3px] border-white
      rounded-lg hover:border-[3px];
    }

    .sidebar-tooltip {
        @apply absolute w-auto p-2 m-2 min-w-max left-24 rounded-md shadow-md
      text-white bg-primary 
      text-xs font-bold 
      transition-all duration-100 scale-0 origin-left;
    }

    .slider-button {
        @apply items-center flex justify-center text-white opacity-20 hover:opacity-100 ml-10 mr-10 bg-footcolor rounded-full shadow-black shadow-lg;
    }

    .layout_item {
        @apply bg-secondary bg-opacity-50 rounded-xl
        sm:h-52 sm:w-52 h-28 w-28 transition-all duration-150
        border-blue-600 hover:border-4 
        shadow-black shadow-lg hover:bg-opacity-100 
        sm:p-4 sm:ml-0 ml-2 mr-5 p-5;
    }

    .layout-item-image {
        @apply relative flex w-full h-full items-center justify-center;
    }

    a {
        @apply underline;
    }
    input.form-input {
        @apply w-full mt-5 pl-2 backgroundblur h-10 text-white border-forminput border-2 rounded-lg focus:outline-none focus:border-white;
    }

    input.form-submit {
        @apply flex items-center justify-center 
      h-12 w-full mx-auto bg-secondary
      text-blue-500 hover:text-white
      transition-all hover:translate-y-1 duration-150
      cursor-pointer shadow-lg shadow-black border-t-4 border-blue-600
      rounded-lg hover:border-4 focus:outline-none focus:translate-y-1 focus:border-4 focus:text-white;
    }
    textarea {
        @apply w-full mt-5 pl-2 backgroundblur h-56 text-white border-forminput border-2 rounded-lg focus:outline-none focus:border-white;
    }
}

.backgroundblur {
    background-color: rgba(140, 141, 141, 0.1);
    backdrop-filter: blur(30px) brightness(115%);
}

input::-webkit-input-placeholderm,
input::-moz-placeholder,
textarea::-webkit-input-placeholder,
textarea::-moz-placeholder {
    opacity: 0.6;
}

.slider-wrapper {
    position: fixed;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
}
@media (min-width: 601px) {
    .slider {
        position: relative;
        top: 0;
        left: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 1rem;
        will-change: transform;
        align-items: center;
        margin-left: 15px;
        grid-column: 2;
    }
}
@media (max-width: 601px) {
    .slider {
        position: relative;
        height: auto;
        display: flex;
        align-items: center;
        width: 140px;
        overflow: hidden;
    }
}
.layout_item {
    position: relative;
    overflow: hidden;
}

.slider-item {
    width: auto;
    height: auto;
}
